<footer>
    <div>
        <a href="root/#Downloads">Downloads</a>
        <a href="root/#Experimental Downloads">Experimental Downloads</a>
        <a href="root/api-docs/">Engine API</a>
        <a href="root/wiki/">Engine Wiki</a>
        <a href="root/tools/">Engine Tools</a>
        <a href="https://github.com/CodenameCrew/codename-website">Contribute to the website</a>
    </div>

    <div>
        <p><i>☻Codename Crew</i></p>
        <a href="https://github.com/CodenameCrew/"><img src="root/img/icons/github-142-svgrepo-com.svg"></a>
        <a href="https://discord.gg/codename-crew"><img src="root/img/icons/discord.svg"></a>
        <a href="https://gamebanana.com/studios/38320"><img src="root/img/icons/gamebanana.svg"></a>
        <a href="https://nex-isdumb.itch.io/codename-engine"><img src="root/img/icons/itch-io-svgrepo-com.svg"></a>
        <a href="https://www.youtube.com/@CodenameEngine"><img src="root/img/icons/youtube-168-svgrepo-com.svg"></a>
        <a href="https://bsky.app/profile/codename-engine.com"><img src="root/img/icons/Bluesky_Logo.svg"></a>
        <a href="https://twitter.com/FNFCodenameEG"><img src="root/img/icons/twitter-154-svgrepo-com.svg"></a>
    </div>
</footer>